<div class="row" style="margin: 10px;">

    <div style="margin-top: 1em;">
        <h1 style="text-align: center;" class="h1"> COW #{{cattleCode}} </h1>
    </div>

    <div class="row">
        <div class="col">
            <div class="col">
                <label for="cattleBreed">Cattle Breed: </label>
            </div>
            <div class="col">
                <input disabled="true" type="text" class="form-control" id="cattleBreed" name="cattleBreed" readonly
                    [(ngModel)]="cattleInfo.breed">
            </div>
        </div>
        <div class="col">
            <div class="col">
                <label for="cattleSex">Cattle Sex: </label>
            </div>
            <div class="col">
                <input disabled="true" type="text" class="form-control" id="cattleSex" name="cattleSex" readonly
                    [(ngModel)]="cattleInfo.sex">
            </div>
        </div>
        <div class="col">
            <div class="col">
                <label for="cattleRole">Cattle Role: </label>
            </div>
            <div class="col">
                <input disabled="true" type="text" class="form-control" id="cattleRole" name="cattleRole" readonly
                    [(ngModel)]="cattleInfo.role">
            </div>
        </div>
        <div class="col">
            <div class="col">
                <label for="cattleAge">Cattle Age: </label>
            </div>
            <div class="col">
                <input disabled="true" type="text" class="form-control" id="cattleAge" name="cattleAge" readonly
                    [(ngModel)]="cattleInfo.age">
            </div>
        </div>
    </div>

    <div style="text-align: center;">
        <button style="margin: 1em;" class="col" class="btn btn-primary" (click)="redirectToHome()">Return to Home</button>
    </div>

    <div class="row" style="margin-top: 1em;">
        <div class="col" style="margin: 1em; ">
            <div class="row" style="display: flex; justify-content: center; align-items: center; ">
                <button type="button" style="width: fit-content; padding-left: 2em; padding-right: 2em;"
                    class="btn btn-secondary" (click)="addCattleMed(cattleCode.valueOf())">New Medicine Register</button>
            </div>
            <div style="margin-top: 1em;">
                Cattle Medicine History:
            </div>
            <div class="row" style="margin: 1em;">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Medicine</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="cattleMedList.length>0">
                        <tr *ngFor="let cattleMedRecord of cattleMedList">
                            <td>{{cattleMedRecord.medName}}</td>
                            <td>{{cattleMedRecord.medQuantity}}</td>
                            <td>{{dateParser.transform(cattleMedRecord.medDate,"yyyy-MM-dd")}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="cattleMedList.length==0">
                        <tr>
                            <td colspan=7>
                                <p style="text-align: center;">
                                    It seems there is no med registered, you can click on the <button type="button"
                                        class="btn btn-secondary badge">New Medicine Register</button> to add new med.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col" style="margin: 1em;">
            <div class="row" style="display: flex; justify-content: center; align-items: center;">
                <button type="button" style="width: fit-content; padding-left: 2em; padding-right: 2em;"
                    class="btn btn-secondary" (click)="addCattleFeed(cattleCode.valueOf())">New Food Register</button>
            </div>
            <div style="margin-top: 1em;">
                Cattle Feed History:
            </div>
            <div class="row" style="margin: 1em;">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Food</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="cattleFeedList.length>0">
                        <tr *ngFor="let cattleFeedRecord of cattleFeedList">
                            <td>{{cattleFeedRecord.foodName}}</td>
                            <td>{{cattleFeedRecord.foodQuantity}}</td>
                            <td>{{dateParser.transform(cattleFeedRecord.feedDate,"yyyy-MM-dd")}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="cattleFeedList.length==0">
                        <tr>
                            <td colspan=7>
                                <p style="text-align: center;">
                                    It seems there is no feed registered, you can click on the <button type="button"
                                        class="btn btn-secondary badge">New Food Register</button> to add new feed.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>