USE [master]
GO
/****** Object:  Database [CattleFarmDB]    Script Date: 14/06/2023 3:13:23 ******/
CREATE DATABASE [CattleFarmDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CattleFarmDB', FILENAME = N'/var/opt/mssql/data/CattleFarmDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CattleFarmDB_log', FILENAME = N'/var/opt/mssql/data/CattleFarmDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CattleFarmDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CattleFarmDB]
GO
/****** Object:  Table [dbo].[CowFeeds]    Script Date: 14/06/2023 3:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CowFeeds](
	[CowFeedCode] [int] IDENTITY(1,1) NOT NULL,
	[CowCode] [int] NOT NULL,
	[FeedDate] [datetime2](7) NOT NULL,
	[FoodName] [nvarchar](max) NOT NULL,
	[FoodQuantity] [float] NOT NULL,
 CONSTRAINT [PK_CowFeeds] PRIMARY KEY CLUSTERED 
(
	[CowFeedCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CowMeds]    Script Date: 14/06/2023 3:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CowMeds](
	[CowMedCode] [int] IDENTITY(1,1) NOT NULL,
	[CowCode] [int] NOT NULL,
	[MedDate] [datetime2](7) NOT NULL,
	[MedName] [nvarchar](max) NOT NULL,
	[MedQuantity] [float] NOT NULL,
 CONSTRAINT [PK_CowMeds] PRIMARY KEY CLUSTERED 
(
	[CowMedCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cows]    Script Date: 14/06/2023 3:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cows](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[Race] [nvarchar](max) NOT NULL,
	[Sex] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[BornDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Cows] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
