<div>
    <div style="margin-top: 2em;">
        <h1 style="text-align: center;">
            AN ERROR HAS OCURRED
        </h1>
    </div>
    <div style="margin: 2em;">
        <p>
            An Internal Server Error has ocurred, this coudl have happened because:
        </p>
        <p>
            - User have requested a page that does not exist.
        </p>
        <p> 
            - The Application could not connect to the server.
        </p>
        <p>
            - The Server is not currently working.
        </p>
        <p>
            - The Server is currently working, but it not working correctly.
        </p>
        <p>
            - The Application has not been confgured correctly. 
        </p>
        <p>
            - The Server has not been confgured correctly. 
        </p>
    </div>
    <div style="margin: 2em; text-align: center;">
        <p>
            Try again by click the button <button class="btn btn-danger badge" (click)="tryAgain()">Try Again</button> or contact technical support.
        </p>
    </div>
</div>